In [15]:
import scipy.stats as ss
import numpy as np
import pandas as pd

## To determine whether there is really a relationship between an employer's performance in the training program and his ultimate success in the job, it takes a sample of 400 cases from it's very extensive files and obtains the reult shown in the table below:

## Use the 0.05 level of significance to test whether performance in training program and success in the job are independent.                        
[2072 Ashwin BE IOE]

In [26]:
data = {'Poor':{
    'Below Average':23,
    'Average':60,
    'Above Average':29
},
'Average':{
    'Below Average':28,
    'Average':79,
    'Above Average':60
},
'Very good':{
    'Below Average':9,
    'Average':49,
    'Above Average':63
}
}

In [37]:
crosstab = pd.DataFrame(data)
crosstab.index.name= 'Sucess in job'
crosstab.columns.name = 'Performance in training Program'
crosstab

Performance in training Program  Poor  Average  Very good
Sucess in job
Below Average                      23       28          9
Average                            60       79         49
Above Average                      29       60         63

In [39]:
n = np.sum(crosstab.to_numpy())

In [41]:
chi2,p,dof,_ = ss.chi2_contingency(crosstab)

In [42]:
chi2,p,dof

(20.178903582087926, 0.00046038041384262443, 4)

In [45]:
crosstab.shape

(3, 3)

In [48]:
phi2 = chi2/n
r, k = crosstab.shape
np.sqrt(phi2 / min((k-1), (r-1)))

0.158819487083953